WebService/ServiceClient/ServiceClient/Service References/CryptoServiceReference1/CryptoService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Encrypt">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="str" type="tns:CryptoStr" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CryptoStr">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="SourceString" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SourceString1" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="EncryptResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EncryptResult" type="tns:CryptoStr" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Decrypt">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="str" type="tns:CryptoStr" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DecryptResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DecryptResult" type="tns:CryptoStr" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SumMass">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="str" type="tns:Str256" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Str256">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="SourceString" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SourceString1" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SumMassResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SumMassResult" type="tns:Str256" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="EncryptSoapIn">
    <wsdl:part name="parameters" element="tns:Encrypt" />
  </wsdl:message>
  <wsdl:message name="EncryptSoapOut">
    <wsdl:part name="parameters" element="tns:EncryptResponse" />
  </wsdl:message>
  <wsdl:message name="DecryptSoapIn">
    <wsdl:part name="parameters" element="tns:Decrypt" />
  </wsdl:message>
  <wsdl:message name="DecryptSoapOut">
    <wsdl:part name="parameters" element="tns:DecryptResponse" />
  </wsdl:message>
  <wsdl:message name="SumMassSoapIn">
    <wsdl:part name="parameters" element="tns:SumMass" />
  </wsdl:message>
  <wsdl:message name="SumMassSoapOut">
    <wsdl:part name="parameters" element="tns:SumMassResponse" />
  </wsdl:message>
  <wsdl:portType name="CryptoServiceSoap">
    <wsdl:operation name="Encrypt">
      <wsdl:input message="tns:EncryptSoapIn" />
      <wsdl:output message="tns:EncryptSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Decrypt">
      <wsdl:input message="tns:DecryptSoapIn" />
      <wsdl:output message="tns:DecryptSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SumMass">
      <wsdl:input message="tns:SumMassSoapIn" />
      <wsdl:output message="tns:SumMassSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CryptoServiceSoap" type="tns:CryptoServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Encrypt">
      <soap:operation soapAction="http://tempuri.org/Encrypt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Decrypt">
      <soap:operation soapAction="http://tempuri.org/Decrypt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SumMass">
      <soap:operation soapAction="http://tempuri.org/SumMass" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CryptoServiceSoap12" type="tns:CryptoServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Encrypt">
      <soap12:operation soapAction="http://tempuri.org/Encrypt" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Decrypt">
      <soap12:operation soapAction="http://tempuri.org/Decrypt" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SumMass">
      <soap12:operation soapAction="http://tempuri.org/SumMass" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CryptoService">
    <wsdl:port name="CryptoServiceSoap" binding="tns:CryptoServiceSoap">
      <soap:address location="http://localhost:60670/CryptoService.asmx" />
    </wsdl:port>
    <wsdl:port name="CryptoServiceSoap12" binding="tns:CryptoServiceSoap12">
      <soap12:address location="http://localhost:60670/CryptoService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>